// REQUEST LIST
.requests-list-container { width: 30%; }

// REQUEST ITEM
.request-item {
    display: flex;
    flex-direction: row;
    cursor: pointer;
    padding-right: 1rem;
}

.request-item__active {
    background-color: $light-gray;
}

.request-item__image {
    background-color: $dark-gray;
    border: 1px solid $dark-gray;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0.5rem;
}

.request-item__briefcase {
    color: $white;
    font-size: 1.2rem;
}

.request-item__text {
    margin: 0.5rem 0;
}

.request-item__value {
    color: rgb(130,130,130)
}