// LOADING & EMPTY DATASET
.loading-window, 
.empty-dataset-window { 
    font-family: $main-font;
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.loading-window__message {
    font-size: 3rem;
    background-color: transparent;
    width: 25px;
    height: 25px;
    border: 3px dashed blue;
    border-radius: 50%;
    
    animation-name: loading;
    animation-duration: 3s;
    animation-iteration-count: infinite;
}

@keyframes loading {
    0% {
      transform: rotate(0.0turn)
    }
    
    50% {
      transform: rotate(0.5turn)
    }
    
    100% {
      transform: rotate(1.0turn)
    }
  }

.empty-dataset-window__message {
    font-size: 2rem;
}