@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap");
@import 'variables';
@import 'requests-list';
@import 'forms';
@import 'loading-and-empty-dataset';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

// MAIN
.main-window {
    font-family: $main-font;
    display: flex;
    flex-direction: row;
    width: 100vw;
}

// MEDIA QUERY
@media (max-width: 620px) {
    .main-window {
        flex-direction: column;
    }

    .requests-list-container {
        width: 100%;
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(150px, 1fr));
        grid-gap: 5px;
    }

    .request-item__image {
        width: 30px;
        height: 30px;
    }
    
    .request-item__briefcase {
        font-size: 1rem;
    }

    .forms-container {
        width: 100%;
    }

    .empty-dataset-window__message {
        font-size: 1.5rem;
    }
}